@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

.animated-title {
  color: white;
  font-size: 48px;
  margin: 0;
  width: 100%;
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  animation: textGlitch 3s ease-in-out infinite alternate;
}

.animated-title .animated-word {
  display: inline-block;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, color 0.3s ease-in-out;
}

.animated-word.animate {
  opacity: 1;
  animation: displayWord 1.5s ease-in-out forwards;
}

.animated-word:hover {
  color: blue;
  text-shadow: 0 0 12px rgb(0, 60, 255);
}

@keyframes displayWord {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes textGlitch {
  0% {
    opacity: 1;
  }
  94% {
    opacity: 1;
    transform: translateX(0px);
  }
  95% {
    opacity: 0.1;
  }
  96% {
    opacity: 1;
    transform: translateX(1px);
  }
  97% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
