.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(5px);
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out;
  }
  
  .header .logo img {
    height: 75px;
    transition: transform 0.3s ease-in-out;
  }
  
  .header .logo:hover img {
    transform: scale(1.1);
  }
  
  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    cursor: pointer;
    z-index: 1001;
  }
  
  .menu-toggle span {
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
  
  .menu-toggle .open:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  
  .menu-toggle .open:nth-child(2) {
    opacity: 0;
  }
  
  .menu-toggle .open:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
  
  .navbar {
    display: flex;
    gap: 30px;
    align-items: center;
  }
  
  .navbar a {
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .navbar a:hover {
    color: #0048ff;
    transform: scale(1.1);
    text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .navbar.open {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: fixed;
    top: 190px;
    right: 40px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    gap: 20px;
    z-index: 999;
    animation: fadeIn 0.5s ease-in-out;
    align-content: center;
    flex-direction: column;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .momentum-logo {
    height: 75px;
    transition: transform 0.3s ease-in-out;
  }
  
  .momentum-logo:hover {
    transform: scale(1.1);
  }
  
  @media (min-width: 769px) {
    .navbar {
      justify-content: flex-end;
    }
  
    .menu-toggle {
      display: none;
    }
  }
  
  @media (max-width: 768px) {
    .navbar {
      display: none;
    }
  }
  